@model IEnumerable<EPOLL.Website.DataAccess.DomainModels.Group>

@{
    Layout = "LayoutAdmin";
    ViewData["Title"] = "Index";
}

<div style="margin: auto 10%">
    <h2>Groups</h2>

    <p>
        <a asp-action="Create">Create New</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CreatedOn)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.UpdatedOn)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IsEnabled)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @item.CreatedOn.ToString("dd-MM-yyyy")
                    </td>
                    <td>
                        @item.UpdatedOn.ToString("dd-MM-yyyy")
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IsEnabled)
                    </td>
                    <td>
                        <a asp-action="ManageUsers" asp-route-id="@item.GroupId">Manage Users</a> |
                        <a asp-action="Edit" asp-route-id="@item.GroupId">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.GroupId">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.GroupId">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    </div>
